body {
    background-color: #e8e8e8;
}

h1, h2, h3, h4, h5, p, li, a {
    font-family: Verdana, sans-serif;
}

h1 {
    margin: -5px 0 0 40px;
    color: #e8e8e8 !important;
    text-shadow: 1px 1px black;
}

.contentDiv {
    padding-left: 20px;
}

.jumbotron {
    background-color: #6298c4;
}

hr {
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #e8e8e8;
    border: 1px solid black;
    color: #000000;
}